{{define "title"}}A templated page{{end}}

{{define "body"}}
<form name="login-form" class="login-form" action="/save" method="post">
	
		<div class="header">
		<h1>Welcome to this Site</h1>
		<span>Please, fill this form</span>
		</div>
	
		<div class="content">
		<input name="username" type="text" class="input username" placeholder="Username" />
		<div class="user-icon"></div>
		<input name="password" type="password" class="input password" placeholder="Password" />
		<div class="pass-icon"></div>		
		</div>

		<div class="footer">
		
		<input class="button" type="submit" value="Save">
		</div>	
</form>
{{end}}